---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = "About Me";
const identity = {
  firstName: "Yuriy",
  country: "Italy",
  occupation: "Junior BackEnd developer",
  hobbies: ["Sudoku", "Books", "MOOC"],
};

const skills = ["Python", "Django", "API", "DRF", "GIT", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---



<BaseLayout pageTitle={pageTitle}>
	<ul>
		<h1>{pageTitle}</h1>
	<h2>Mi chaimo {identity.firstName}, sto sperimentando un pò di programmare il fontend</h2>
	<p>Conoscere meglio Astro</p>
	<p>Per scrivere un front end per mio pet project di IoT</p>
	<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		  {identity.hobbies.length >= 2 && 
	<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		} 
		</ul>
		<p>My skills are:</p>
		<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>